<?php

define('PEMILOS_ENV', 'development');

define('PEMILOS_URL', 'http://pemilos.localhost/');

define('PEMILOS_DB_HOST', 'localhost');
define('PEMILOS_DB_USER', 'admin');
define('PEMILOS_DB_PASS', '');
define('PEMILOS_DB_NAME', 'pemilos');
