<?php

define('PEMILOS_PASSWORD', 'admin');
define('PEMILOS_YEAR', 2022);
define('PEMILOS_THEME', 'We ARE the people!');
define('PEMILOS_VOTERS', 1500);

define('PEMILOS_ENV', 'development');

define('PEMILOS_URL', 'http://pemilos.localhost/');

define('PEMILOS_DB_HOST', 'localhost');
define('PEMILOS_DB_USER', 'admin');
define('PEMILOS_DB_PASS', '');
define('PEMILOS_DB_NAME', 'pemilos');
